<div class="container">
  <div class="row">
    <!-- Recorre la lista de empleados y crea una tarjeta para cada uno -->
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let emp of employees">
      <div class="card shadow-sm">
        <img src="assets/img/default_employee.png" class="card-img-top" alt="Empleado Imagen">
        <div class="card-body">
          <h5 class="card-title text-center">{{ emp.first_name }} {{ emp.last_name }}</h5>
          <p class="card-text">
            <strong>Email:</strong> {{ emp.email }} <br>
            <strong>Teléfono:</strong> {{ emp.phone_number }} <br>
            <strong>Salario:</strong> {{ emp.salary | currency }} <br>
            <strong>Fecha de Contratación:</strong> {{ emp.hire_date | date:'shortDate' }} <br>
          </p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-warning">Modificar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
